.body {
    /* border: 1px solid black; */
    display: flex;
}

.one {
    /* border: 1px solid black; */

}

.two {
    /* border: 1px solid black; */
    margin-left: 150px;
    text-decoration: none;
}

.three {
    /* border: 1px solid black; */
    margin-left: 150px;

}

.four {
    /* border: 1px solid black; */
    margin-left: 160px;

}

.A {
    font-size: 100px;
}

.B {}