
.regForm {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}




.form {
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 100%;
    background: white;
    min-height: auto;
    margin: 13px;
}

#regNow {
    color: #1a88b2;
}

#hr {
    color: lightgray;
    margin: 24px;
}

.selectCity {
    padding: 7px 200px 7px 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.selectCity:hover {
    box-shadow: 1px 1px 3px 3px skyblue;
}

.regAs {
    justify-content: center;
    display: flex;
    gap: 30px;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.Visitor {
    padding: 8px 125px 8px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

.Visitor:hover {
    box-shadow: 1px 1px 3px 3px skyblue;
}

.Exhibitor {
    padding: 8px 125px 8px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

.Exhibitor:hover {
    box-shadow: 1px 1px 3px 3px skyblue;
}

.btn {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 10px;
    padding-bottom: 40px;
}

.btns {
    padding: 6px 30px;
    border: transparent;
    border-radius: 10px;
    background-color: #1a88b2;
    font-size: 20px;
}

.btns:hover {
    color: white;
    font-size: 25px;
}