/* Styles for the slides and slide content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palanquin', sans-serif;
}

.rootCarousel {
    background-color: #131d32;
    padding: 1px;
}

/* Styles for the slides and slide content */
.slide {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    min-height: 350px;
    justify-content: center;
    /* Center the content vertically */
}


.citydetails {
    /* border: 2px solid gray; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* Add box shadow for a card-like appearance */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.citydetails img {
    max-height: 320px;
    max-width: 320px;
}

.event-details {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
}

.event-details div {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: start;
}

.learn-more {
    align-self: center;
    display: inline-block;
    padding: 10px;
    background-color: #0059b8;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    background-color: #003c7b;
    cursor: pointer;
}

/* Styles for the page indicator and dots */
.page-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #ffffff2f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #ece2cd;
}
